#animation {
  position: relative;
}

.letter {
  font-weight: bold;
  color: #1bf;
  font-size: 10vmin;
  line-height: 10vmin;
  text-align: center;

  width: 10vmin;

  position: absolute;

  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.letter#b  { animation-name: letter_b; }

.letter#e  { animation-name: letter_e; }

.letter#m  { animation-name: letter_m; }

.letter#_7 { animation-name: letter_7; color: grey;}

@keyframes letter_b {
  0%   {top: 0;      left: 0;}
  100% {top: 0;      left: 0;}
}

 @keyframes letter_e {
  0%   {top: 0;      left: 10vmin;}
  5%   {top: 10vmin; left: 10vmin;}
  10%  {             left: 0;}

  80%  {             left: 0;}
  85%  {top: 10vmin; left: 10vmin;}
  100% {top: 0;      left: 10vmin;}
}

@keyframes letter_m {
  0%   {top: 0;      left: 20vmin;}
  5%   {top: 20vmin; left: 20vmin;}
  10%  {             left: 0;}

  80%  {             left: 0;}
  85%  {top: 20vmin; left: 20vmin;}
  100% {top: 0;      left: 20vmin;}
}

@keyframes letter_7 {
  0%   {top: 0;      left: 30vmin;}
  5%   {top: 30vmin; left: 30vmin;}
  10%  {             left: 0;}

  80%  {             left: 0;}
  85%  {top: 30vmin; left: 30vmin;}
  100% {top: 0;      left: 30vmin;}
}



 .text {
  display: inline-block;
  position: absolute;

  left: 8vmin;

  color: grey;
  font-size: 7vmin;
  line-height: 10vmin;

  direction: rtl;
  overflow: hidden;

  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.text#b  { 
  animation-name: text_b;
  top: 1vmin;
}

.text#e1  { 
  animation-name: text_1;
  top: 11vmin;
}
.text#m1  { 
  animation-name: text_1;
  top: 21vmin;
}

.text#e2  { 
  animation-name: text_2;
  top: 11vmin;
}
.text#m2  { 
  animation-name: text_2;
  top: 21vmin;
}

@keyframes text_b {
  0%   {max-width: 0;}

  15%  {max-width: 0;}
  35%  {max-width: 100%;}
  
  75%  {max-width: 100%;}
  80%  {max-width: 0;}

  100% {max-width: 0;}
}

@keyframes text_1 {
  0%   {max-width: 0;}

  15%  {max-width: 0;}
  30%  {max-width: 100%;}
  
  45%  {max-width: 100%;}
  50%  {max-width: 0;}

  100% {max-width: 0;}
}

@keyframes text_2 {
  0%   {max-width: 0;}

  50%  {max-width: 0;}
  65%  {max-width: 100%;}
  
  75%  {max-width: 100%;}
  80%  {max-width: 0;}

  100% {max-width: 0;}
}