@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 0 50px 0;

  overflow-x: hidden;

  font-family: 'Share Tech Mono', monospace;
  color: #444;

}

a {
  text-decoration: none;
  color: #11bbff;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #11bbff;
}

.tcenter {
  text-align: center;
}

.panel {
  width: 100%;
  padding: 10px;
  box-shadow: 0 -10px 20px 2px rgba(0, 0, 0, 0.3);
}

.link-button {
  display: inline-block;
  padding: 10px;

  font-size: 1.3rem;
  background-color: #11bbff;
  color: white;
  text-decoration: none;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.link-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.link-button:visited {
  color: white;
}