#welcome.panel {
  height: 90vmin;
}
#title {
  margin: 0;
  padding: 3vmin;
}

#rodsinski.panel {
  display: -ms-grid;
  display: grid;

  position: relative;

  grid-template-columns: auto;
  grid-template-areas: "image" "words";

  background-image: url(http://kart.bem7.tk/images/photo14.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

#rodsinski.panel::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff8
}

#rodsinski.panel #words {
  grid-area: words;
  z-index: 100;
}

#rodsinski.panel img {
  grid-area: image;
  z-index: 100;

  width: 100%;
  height: auto;
}

@media only screen and (min-width: 700px) {
  #rodsinski.panel {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "words image";
  }
}


#products.panel {
  background-color: whitesmoke;
}

#products.panel:target::before {
  content: "";
  display: block;
  z-index: -100;

  height: 15vh;
  margin: -15vh 0 0;
}

#products.panel #container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  display: grid;
  display: -ms-grid; 
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.product-card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  text-decoration: none;
  color: inherit;
}

.product-card img {
  width: 100%;
  height: auto;
}
.product-card h1, .product-card h3 {
  padding-left: 10px;
  padding-right: 10px; 
}
.product-card .link-button {
  margin-bottom: 10px;
}

@media only screen and (min-width: 500px) {
  #products.panel #container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 700px) {
  #products.panel #container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

