@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  font-family: 'Share Tech Mono', monospace;
  color: #444;
}

h1 {
  font-size: 5vmin
}

.tcenter {
  text-align: center;
}



#title {
  margin: 3vmin;
}