#animation {
  position: absolute;
  
  width: 50vmin;
  height: 40vmin;

  top: 40vmin;
  left: 50%;
  transform: translate(-50%, -50%);

}

.letter {
  font-weight: bold;
  color: #11bbff;
  font-size: 10vmin;
  line-height: 10vmin;
  text-align: center;

  width: 7vmin;

  direction: rtl;
  overflow: hidden;
  white-space: nowrap;

  position: absolute;

  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.letter#b  { animation-name: letter_b; }

.letter#e  { animation-name: letter_e; }

.letter#m  { animation-name: letter_m; }

.letter#_7 { animation-name: letter_7; color: grey;}

@keyframes letter_b {
  0%   {left: 10vmin;}

  15%  {left: 10vmin;}
  20%  {left: 0;     }

  95%  {left: 0;     }
  100% {left: 10vmin;}
}

 @keyframes letter_e {
  0%   {top: 0;      left: 17vmin;  max-width: 100%;}

  10%  {top: 0;      left: 17vmin;                 }
  15%  {top: 10vmin; left: 17vmin;                 }
  20%  {             left: 0;                      }

  95%  {                           max-width: 100%;}
  100% {top: 10vmin; left: 0;      max-width: 0;   }
}

@keyframes letter_m {
  0%   {top: 0;      left: 24vmin; max-width: 100%;}

  10%  {top: 0;      left: 24vmin;                 }
  15%  {top: 20vmin; left: 24vmin;                 }
  20%  {             left: 0;                      }

  95%  {                           max-width: 100%;}
  100% {top: 20vmin; left: 0;      max-width: 0;   }
}

@keyframes letter_7 {
  0%   {top: 0;      left: 31vmin; max-width: 100%;}

  10%  {top: 0;      left: 31vmin;                 }
  15%  {top: 30vmin; left: 31vmin;                 }
  20%  {             left: 0;                      }

  95%  {                           max-width: 100%;}
  100% {top: 30vmin; left: 0;      max-width: 0;   }
}



 .text {
  display: inline-block;
  position: absolute;

  left: 7vmin;

  color: grey;
  font-size: 8vmin;
  line-height: 10vmin;

  direction: rtl;
  overflow: hidden;
  white-space: nowrap;

  animation-duration: 12s;
  animation-iteration-count: infinite;
}



.text#b  { 
  animation-name: text_b;

  top: 0;
  left: 7vmin;

  font-size: 10vmin;
  line-height: 10vmin;
  font-weight: bold;
}
.text#b *  { 
  display: inline-block;

  width: 7vmin;
  text-align: center;
}

.text#b #_7 {
  color: grey
}

.text#e1  { 
  animation-name: text_1;
  top: 11vmin;
}
.text#m1  { 
  animation-name: text_1;
  top: 21vmin;
}

.text#e2  { 
  animation-name: text_2;
  top: 11vmin;
}
.text#m2  { 
  animation-name: text_2;
  top: 21vmin;
}

@keyframes text_b {
  0%   {left:6vmin;  max-width: 0;     color: gray;}

  25%  {             max-width: 0;                   }
  40%  {             max-width: 100%;                }

  95%  {left:7vmin;                    color: gray;}
  100% {left:17vmin; max-width: 100%;  color: #11bbff;}
}

@keyframes text_1 {
  0%   {max-width: 0;}

  25%  {max-width: 0;}
  40%  {max-width: 100%;}
  
  55%  {max-width: 100%;}
  60%  {max-width: 0;}

  100% {max-width: 0;}
}

@keyframes text_2 {
  0%   {max-width: 0;}

  60%  {max-width: 0;}
  75%  {max-width: 100%;}
  
  90%  {max-width: 100%;}
  95%  {max-width: 0;}

  100% {max-width: 0;}
}